main {
  color: white;
  background-image: url("../img/Background-1.jpg");
  background-size: cover;
}
.img-logo {
  height: 2rem;
}
.mifoto img {
  border-radius: 50%;
  width: 20rem;
}
.mifoto {
  display: flex;
  justify-content: Center;
  align-items: center;
  gap: 10rem;
  /*align-items: center;*/
}
.bajada {
  font-size: 1.5rem;
}
.first-impression p {
  font-size: larger;
  margin-bottom: 10rem;
}
footer {
  display: flex;
  justify-content: center;
}
.accordion-body img {
  width: 75%;
  border-radius: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

button{
  color:#000000 !important;
  }